



<div class="about-section">
  <h1>** About Us  **</h1>
</div>

<div class="info">
  <h2><p>    our computer shop is dedicated to 100% customer delight ensuring that everything from placing your order to delivering it right to your doorstep is smooth and hassle-free. When it comes to online transactions, our system ensures that all credit/debit card and net banking transactions are done through secure and trusted gateways. All your bank details are safe and secure, and will not be shared with any third-party.  offers a cash on delivery option if you need an easier payment method and excellent after sales services too. If you have any issues with your purchase, the easy exchange and replacement policies comes to your rescue..</p></h2>
</div>



