<h2>Gaming Zone</h2>
<h5>PC Build Available</h5>
<p>CPU RGB CPU 12th GEN Processor</p>
<h2 class="mt-2">GIGABYTE</h2>

<p></p>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action " tabindex="-1" aria-disabled="true">DELL</a>
  <a href="#" class="list-group-item list-group-item-action">HP</a>
  <a href="#" class="list-group-item list-group-item-action">ACER</a>
  <a href="#" class="list-group-item list-group-item-action"></a>
  </div>
<!-- <ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">CPU</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">MotherBoard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Monitor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Storage</a>
  </li>
</ul> -->
<hr class="d-sm-none">
<hr>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action " tabindex="-1" aria-disabled="true"> CPU</a>
  <a href="#" class="list-group-item list-group-item-action"> MotherBoard</a>
  <a href="#" class="list-group-item list-group-item-action"> Power Supply</a>
  <a href="#" class="list-group-item list-group-item-action"> WIFI Card</a>
 </div>

