
  <body>
    <div class="row">
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Payment Successfully Done</h1> 
        <div class="money">{{getTotal() | currency:"₹"}}</div>
        <div class="lik"> Delivered in 3 Days On this Address</div>
        <div>{{user.address}}</div>
        <p> {{user.name}}</p>
      </div>
    </div>
  </body>

     
      
    
     
