

<div class="container" >
    <div class="container-fluid" style="margin-top: 180px;">
    <div class="content">
      <div class="left-side">
        <div class="address details">
            <i class="fas fa-address-card"></i>
          <div class="topic">Address</div>
          <div class="text-three">Mauli Park, kothrud</div>
          <div class="text-four">pune,Maharashtra</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Team Member</div>
          <div class="text-one"></div>
          <div class="text-two"></div>
          <div class="text-three">Pawan Sirsat</div>
          <div class="text-four">Sahil Thorat</div>
          <div class="text-five">Pawan Pawar</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <b><div class="topic">Email</div></b>
          <div class="text-three">pawansirsat11@gmail.com</div>
          <div class="text-four">stsahil11@gmail.com</div>
          <div class="text-five">pawanpawar11@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Contact Us</div>
        <br>
        
      <form action="#">
        <p>If any types of quries related to our website, you can send me message from here. It's my pleasure to help you.</p>
        <div class="input-box">
          <input type="text" placeholder="Enter your quries">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>


