
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-1 shadow rounded-15 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Admin Login</h5>
            
    <form  (ngSubmit)="adminLogin(admin.emailId,admin.password)">
      <small class="text-danger">{{msg}}</small>
    <!-- Email input -->
    <div class="form-floating mb-4">
        <input type="text" class="form-control"
         id="emailId" placeholder="name@example.com"
          name="emailId" 
        [(ngModel)]="admin.emailId"
        required>
       <label for="floatingInput">Admin ID</label>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-4">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"  
        [(ngModel)]="admin.password"
        required 
        >
        <label for="floatingPassword">Password</label>
    </div>
  
    <!-- Submit button -->
    <button type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>

  </form>
</div>
</div>
</div>
</div>
</div>